@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
input {
  outline: 0 !important;
}

.error {
  margin: 1.5rem 0;
  color: #721c24 !important;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 8px;
  border-radius: 0.25rem;
  text-align: center;
}

.success {
  margin: 1.5rem 0;
  color: #24492c !important;
  background-color: #99fcaf;
  border: 1px solid #537c5c;
  padding: 8px;
  border-radius: 0.25rem;
  text-align: center;
}

.bgBlack {
  background-color: rgba(0, 0, 0, 0.4);
}

body {
  background: linear-gradient(180deg, #ffffff 0%, #c0c0c0 100%);
}

/* .poster-img {
  min-width: 500px;
  height: 700px;
  object-fit: cover;
} */
